/* important */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: green;
}

header {
    background-color: #564256;
    padding: 1rem;
    text-align: center;
}

.sec1, .sec2 {
    padding-left: 1rem;
}

.sec1 h2, .sec2 h2 {
    background-color: #564256;
}

.sec1 ul, .sec2 ul {
    list-style: none;
}

footer {
    text-align: center;
    background-color: darkgoldenrod;
    color: white;
    font-size: 20px;
    padding: 2rem;
}