/* important */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: red;
    padding: 2rem;
    text-align: center;
}

body {
    background-color: green;
}

main {
    position: relative;
    margin-top: 2rem;

}

.sec1 {
    position: absolute;
    top: 100px;
    left: 2rem;
    padding: 5rem;
    padding-top: 0;
    z-index: 2;
    max-width: 300px;
    background-color: white;
}

.sec1 h2 {
    background-color: red;

}

/* make the data and weather have grid to show? The window are transparent and has shadow */

.sec2 {
    position: absolute;
    bottom: 100px;
    right: 2rem;
    background-color: white;
    padding: 5rem;
    padding-top: 0;
    border-radius: 8px;
    z-index: 2;
    max-width: 300px;
}

picture {
    display: block;
    z-index: 1;
    width: 100vw;
    height: auto;
    margin: 0;
}

picture img {
    width: 100%;
    height: auto;
    display: block;
}

footer {
    text-align: center;
    background-color: darkgoldenrod;
    color: white;
    font-size: 20px;
    padding: 2rem;
}