section {
    display: block;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #CFEE9E;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

main {
    background-color: white;
    color: #394032;
    font-family: "Limelight", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    color: #1E2019;
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
}

footer {
    text-align: center;
    background-color: darkgoldenrod;
    color: white;
    font-size: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: "Limelight", sans-serif;
}

img {
    width: 500px;
    height: auto;
}