@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }
    
    nav a {
        display: block;
        color: white;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
        font-size: larger;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    .open a {
        display: block;
    }
}