

body {
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid lightgray;
    padding: 1rem; /* notice here */
    background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem; /* notice here */

}

section /* notice here: doesn't know why */ {
    padding: 1rem;
    background-color: lightgray;
}